==================== User Service DB ====================
USER_DB_USER=postgres
USER_DB_PASSWORD=verybigandlongpaaswordlikeauthorsdick
USER_DB_NAME=userdb

# ==================== Content Service DB ====================
CONTENT_DB_USER=postgres
CONTENT_DB_PASSWORD=verybigandlongpaaswordlikeauthorsdick
CONTENT_DB_NAME=contentdb

# ==================== JWT ====================
JWT_SECRET=verybigandlongpaaswordlikeauthorsdick

# ==================== RabbitMQ (общий брокер для всех сервисов) ====================
RABBITMQ_USER=rabbit_user
RABBITMQ_PASSWORD=rabbit_password

# ==================== Redis ====================
REDIS_PASSWORD=verybigandlongpaaswordlikeauthorsdick

# ==================== MinIO ====================
MINIO_USER=minio_user
MINIO_PASSWORD=minio_password

# ==================== MongoDB (Social Service) ====================
MONGO_USER=goydagram_mongo
MONGO_PASSWORD=verybigandlongpaaswordlikeauthorsdick

# ==================== SOCIAL SERVICE (GO) ====================
MONGO_DB=socialdb
REDIS_URL=social-redis:6379
CONTENT_API=http://content-service:8080
USER_API=http://user-service:8080

# ==================== FEED SERVICE (GO) ====================
FEED_BATCH_SIZE=30
PREFETCH_COUNT=3
TIMEOUT_SEC=5