# ==================== User Service DB ====================
USER_DB_USER=postgres
USER_DB_PASSWORD=verybigandlongpaaswordlikeauthorsdick
USER_DB_NAME=userdb

# ==================== Content Service DB ====================
CONTENT_DB_USER=postgres
CONTENT_DB_PASSWORD=verybigandlongpaaswordlikeauthorsdick
CONTENT_DB_NAME=contentdb

# ==================== JWT ====================
JWT_ISSUER=goydagram
JWT_AUDIENCE=goydagram-users
JWT_SECRET=verybigandlongpaaswordlikeauthorsdick

# ==================== RabbitMQ ====================
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# ==================== Redis ====================
REDIS_PASSWORD=verybigandlongpaaswordlikeauthorsdick

# ==================== MinIO ====================
MINIO_USER=minioadmin
MINIO_PASSWORD=verybigandlongpaaswordlikeauthorsdick

# ==================== MongoDB (Social Service) ====================
MONGO_USER=goydagram_mongo
MONGO_PASSWORD=verybigandlongpaaswordlikeauthorsdick
MONGO_DB=socialdb

# ==================== SOCIAL SERVICE (GO) ====================
REDIS_URL=social-redis:6379
CONTENT_API=http://content-service:8080
USER_API=http://user-service:8080

# ==================== FEED SERVICE (GO) ====================
FEED_BATCH_SIZE=30
PREFETCH_COUNT=3
TIMEOUT_SEC=5

# ==================== SEARCH SERVICE (Python) ====================
ELASTICSEARCH_URL=http://search-db:9200
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
MAX_RESULTS=100
DEFAULT_LIMIT=30
FUZZINESS=AUTO

# ==================== API GATEWAY ====================
USER_SERVICE_URL=http://user-service:8080
CONTENT_SERVICE_URL=http://content-service:8080
SOCIAL_SERVICE_URL=http://social-service:8080
FEED_SERVICE_URL=http://feed-service:8080
SEARCH_SERVICE_URL=http://search-service:8000
